/* Error: Undefined operation "hsl2206 % hsl(220, 6%, 80%)".
 *     ,
 * 670 |   background-color: hsl2206%hsl(220, 6%, 80%);
 *     |                     ^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   assets\sass\styles.scss 670:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined operation "hsl2206 % hsl(220, 6%, 80%)".\a     \2577 \a 670 \2502    background-color: hsl2206%hsl(220, 6%, 80%);\d\a     \2502                      ^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   assets\\sass\\styles.scss 670:21  root stylesheet';
}
